.menuButton {
    color: white;
    margin-right: 10px;
  }
  
  .menuButton:hover {
    color: #967BB6;
    cursor: pointer;
    font-weight: bold;
  }
  
  .smooth-scroll {
    scroll-behavior: smooth;
}